:root {
  /* colors */
  --clr-primary: #1e1e1e;
  /* borders */
  --border-pr: 0.1rem solid var(--clr-primary);
  /* --border-r: 0.1rem solid red;
  --border-b: 0.1rem solid blue;
  --border-g: 0.1rem solid green;
  --border-y: 0.1rem solid yellow; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: var(--clr-primary);
}

/* //////////////////////////////// */
/* HEADER */
/* //////////////////////////////// */

.header {
  height: 100vh;
  position: relative;
}

/* NAV */

.nav {
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  border: var(--border-r);
}
.nav-list {
  height: fit-content;

  list-style: none;
  text-align: end;

  margin-top: 8rem;
  margin-right: 4rem;
  border-right: 0.3rem solid var(--clr-primary);
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: var(--clr-primary);
  font-weight: 900;
  text-transform: uppercase;

  margin-right: 0.1rem;
  padding-right: 1.2rem;
  border-right: 0.3rem solid transparent;

  transition: all 0.2s ease;
}

.nav-link:hover,
.nav-link:active {
  padding-right: 4rem;
  border-right: 0.3rem solid var(--clr-primary);
  padding-left: 4rem;
  border-left: 0.3rem solid var(--clr-primary);
}

/* TITLE */

.title {
  height: 75vh;
  border: var(--border-g);
}

.title-container {
  height: 100%;
  width: max-content;

  display: grid;
  align-content: end;

  border: var(--border-r);
  margin: 0 25rem;
  padding-bottom: 15rem;
}

.title-name__title-part {
  font-size: 3rem;
  border: var(--border-b);
}
.title-name__title-part__top {
  text-indent: -0.1rem;
}
.title-name {
  font-size: 15rem;
  line-height: 12rem;
  text-indent: -0.7rem;
  text-transform: uppercase;

  border: var(--border-g);
}
.title-name__surname {
  display: block;
  font-weight: 300;
  text-indent: -0.9rem;
}

.title-name__title-part__bottom {
  justify-self: center;
  font-weight: 300;
}

/* for JS */

.title-elem {
  transition: all 0.2s;
}

.title-name__title-part__top {
  overflow: hidden;
}

/* //////////////////////////////// */
/* MAIN */
/* //////////////////////////////// */
main {
  margin: 0 2rem;
}

/* //////////////////////////////// */
/* GENERAL*/
/* //////////////////////////////// */

.section {
  margin-bottom: 5rem;
}

.section-title__box {
  width: 100%;
  border-bottom: var(--border-pr);
  margin-bottom: 1rem;
}

.section-title {
  display: inline;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.s-padding__top {
  padding-top: 2rem;
}

/* //////////////////////////////// */
/* PROJECTS */
/* //////////////////////////////// */

/* //////////////////////////////// */
.projects {
  position: relative;
  overflow: hidden;
}

.animated-elem {
  opacity: 0;
  transform: translateY(10rem);
  transition: all 1s;
}

/* //////////////////////////////// */

/* h2 {
  display: inline;
  font-size: 2.2rem;
  text-transform: uppercase;
} */

.project-container {
  height: 40vh;

  display: flex;
  justify-content: center;
  gap: 4rem;

  margin-bottom: 1rem;
  transition: all 1s;
}

.project__text-box {
  max-width: 90rem;
  display: grid;
  align-content: end;

  text-transform: uppercase;
}

.project-title {
}

.project-title__desc {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.desc {
  text-align: justify;
}

.project-desc {
  text-transform: lowercase;
}

.project__image-box {
  position: relative;
}

.project__image {
  height: 100%;
  display: block;
}
/* ////////////////////////////// */

/* ////////////////////////////// */
/* OVERLAY */
.overlay {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  background-color: hsla(0, 0%, 12%, 0.8);

  transition: all 0.2s;
  cursor: pointer;
}

.overlay-text {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.project__image-box:hover .overlay {
  opacity: 1;
}
.project__image-box:hover .project__image {
  filter: blur(0.3rem);
}

/* ////////////////////////////// */
/* SKILLS */
/* ////////////////////////////// */

.section-skills {
  min-height: 100vh;
  height: 100vh;
}

.desc-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.desc {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.diagram {
  height: 90%;
  display: grid;
}

.skills__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills {
  position: relative;
  display: grid;

  gap: 4rem;
}

.skills-desc__box {
  width: 20rem;

  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-desc {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.skill {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.icon-box {
}

.custom {
  height: 8rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.3rem solid var(--clr-primary);
  border-radius: 0.8rem;
}
.custom-desc {
  font-weight: 900;
}

.icon {
  height: 8rem;
  width: auto;
  display: block;
  fill: var(--clr-primary);
}

.skill-name {
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* SCHEME */

.scheme {
  display: flex;
  align-items: center;
}

.circle-box {
  position: relative;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
}

.circle-desc {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.4rem;
  white-space: nowrap;
}

.arrow-box {
  position: relative;
  display: flex;
}

.arrow {
  height: 1rem;
  width: 1rem;

  position: absolute;
  top: 0;
  right: 0;

  border-top: 0.2rem solid var(--clr-primary);
  border-right: 0.2rem solid var(--clr-primary);
  transform: rotate(45deg) translate(-55%);
  background-color: transparent;
}

.line-solid {
  width: 20rem;

  border-top: 0.1rem solid var(--clr-primary);
  border-bottom: 0.1rem solid var(--clr-primary);
  margin-right: 0.5rem;
}
.line-dash {
  width: 5rem;

  border-top: 0.1rem dashed var(--clr-primary);
  border-bottom: 0.1rem dashed var(--clr-primary);
}

/* //////////////////////////////// */
/* ABOUT ME */
/* //////////////////////////////// */

.about {
  /* height: 100vh; */
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 4rem;

  margin-bottom: 5rem;
  transition: all 1s;
}

.about-container:not(:last-child) {
  padding-bottom: 5rem;
  border-bottom: var(--border-pr);
}

.text-box {
  max-width: 90rem;
  display: grid;
  align-content: end;
}

.text-box p:not(:last-child) {
  margin-bottom: 1rem;
}

.about-desc__name {
  font-weight: 900;
  text-transform: uppercase;
}

.surname {
  font-weight: 300;
}

.image-box {
}

.image {
  height: 70vh;
}

/* /////////////////////////// */
/* CONTACT */
/* /////////////////////////// */

.contact,
.section-contact {
  margin-bottom: 8rem;
}

.contact-box {
  display: grid;
  justify-content: start;
  margin: 0 4rem;
  font-size: 5rem;
}

.item-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4rem;

  margin-left: 8rem;
}

.contact-text__label {
  width: 15rem;
}

.contact-text {
  font-weight: 700;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  color: var(--clr-primary);
  cursor: pointer;
  transition: all 0.2s;
}
.contact-link:hover,
.contact-link:active {
  letter-spacing: 0.5rem;
}

/* /////////////////////////// */
/* FOOTER */
/* /////////////////////////// */

footer {
  margin: 0 2rem;
}

.footer {
  height: 10vh;
  border-top: var(--border-pr);
}

.footer-container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-rights {
  text-transform: uppercase;
}

.footer-rights__name {
  font-weight: 900;
  margin-left: 1rem;
}

.icon-arrow {
  height: 2rem;
  margin-right: 12rem;
}
