:root {
  --clr-primary: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display', system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: var(--clr-primary);

  /* max-width: 100vw; */
}

/* //////////////////////////////// */
/* HEADER */
/* //////////////////////////////// */

.header {
  height: 100vh;
  position: relative;
}

/* NAV */

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 6rem 3rem;
}
.nav-list {
  border-right: 0.1rem solid var(--clr-primary);
  padding-right: 0.2rem;
  list-style: none;
  text-align: end;
}
.nav-link {
  text-decoration: none;
  padding-right: 1.5rem;
  color: var(--clr-primary);
}

.nav-link__active {
  border-right: 0.1rem solid var(--clr-primary);
}
