:root {
  /* colors */
  --clr-primary: #1e1e1e;
  /* borders */
  --border-pr: 0.1rem solid var(--clr-primary);
  /* --border-r: 0.1rem solid red;
  --border-b: 0.1rem solid blue;
  --border-g: 0.1rem solid green;
  --border-y: 0.1rem solid yellow; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display', system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: var(--clr-primary);

  /* max-width: 100vw; */
}

/* //////////////////////////////// */
/* HEADER */
/* //////////////////////////////// */

.header {
  height: 100vh;
  position: relative;
}

/* NAV */

.nav {
  height: 25vh;

  display: flex;
  justify-content: flex-end;

  border: var(--border-r);
}
.nav-list {
  height: fit-content;
  margin-top: 8rem;
  margin-right: 4rem;

  list-style: none;
  text-align: end;

  border-right: 0.3rem solid var(--clr-primary);
}
.nav-link {
  text-decoration: none;
  margin-right: 0.1rem;
  padding-right: 1.5rem;
  color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: 900;
}

.nav-link__active {
  border-right: 0.3rem solid var(--clr-primary);
}

/* TITLE */

.title {
  height: 75vh;

  border: var(--border-g);
}
.title-container {
  height: 100%;
  width: max-content;
  border: var(--border-r);
  margin: 0 25rem;
  padding-bottom: 15rem;

  display: grid;
  align-content: end;
}

.title-name__title-part {
  border: var(--border-b);
  font-size: 3rem;
}
.title-name {
  text-transform: uppercase;
  font-size: 15rem;
  line-height: 12rem;

  border: var(--border-g);
}
.title-name__surname {
  font-weight: 300;
  display: block;
}

.title-name__title-part__bottom {
  justify-self: center;
}

/* //////////////////////////////// */
/* MAIN */
/* //////////////////////////////// */
main {
  margin: 2rem;
}

/* //////////////////////////////// */
/* PROJECTS */
/* //////////////////////////////// */

.section {
  margin-bottom: 15rem;
}

.section-title__box {
  width: 100%;
  border-bottom: var(--border-pr);
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  /* border: 0.1rem solid var(--clr-primary); */
  display: inline;
}

.project-container {
  display: flex;
  height: 40vh;
  justify-content: end;
  gap: 4rem;
  margin-bottom: 5rem;
}

.project__text-box {
  /* border: var(--border-pr); */
  max-width: 100rem;
  display: grid;
  align-content: end;

  text-transform: uppercase;
}

.project-title {
}
.project-title__desc {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.desc {
  text-align: justify;
}

.project-desc {
  text-transform: lowercase;
}

.project__image-box {
}

.project__image {
  height: 100%;
}

/* ////////////////////////////// */
/* SKILLS */
/* ////////////////////////////// */

.diagram {
  height: 50rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15rem;
}
.skills {
  position: relative;
  display: grid;

  gap: 1rem;
}

.skills-desc__box {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
}

.skills-desc {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.skill {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-box {
  /* background-color: red; */
}

.custom {
  /* background-color: var(--clr-primary); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border: 0.3rem solid var(--clr-primary);
  border-radius: 0.8rem;
}
.custom-desc {
  font-weight: 900;
}

.icon {
  height: 4rem;
  width: auto;
  display: block;

  fill: var(--clr-primary);
}

.skill-name {
  text-transform: uppercase;
  font-size: 1rem;
}

/* SCHEME */

.scheme {
  display: flex;
  align-items: center;
}

.circle-box {
  position: relative;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
}

.circle-desc {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.4rem;
  white-space: nowrap;
}

.arrow-box {
  position: relative;
  display: flex;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  /* padding-left: 1rem; */

  height: 1rem;
  width: 1rem;
  border-top: 0.2rem solid var(--clr-primary);
  border-right: 0.2rem solid var(--clr-primary);
  transform: rotate(45deg) translate(-55%);
  background-color: transparent;
}

.line-solid {
  border-top: 0.1rem solid var(--clr-primary);
  border-bottom: 0.1rem solid var(--clr-primary);
  width: 20rem;
  margin-right: 0.5rem;
}
.line-dash {
  border-top: 0.1rem dashed var(--clr-primary);
  border-bottom: 0.1rem dashed var(--clr-primary);
  width: 5rem;
}

/* //////////////////////////////// */
/* ABOUT ME */
/* //////////////////////////////// */

.about {
  /* height: 100vh; */
}

.about-container {
  display: flex;
  /* flex-direction: row-reverse; */

  justify-content: end;
  gap: 4rem;
  margin-bottom: 5rem;
}

.about-container:not(:last-child) {
  padding-bottom: 5rem;
  border-bottom: var(--border-pr);
}

.text-box {
  max-width: 100rem;
  display: grid;
  align-content: end;
}

.text-box p:not(:last-child) {
  margin-bottom: 1rem;
}

.about-desc:not(:last-child) {
}

.about-desc__name {
  text-transform: uppercase;
  font-weight: 900;
}

.surname {
  font-weight: 300;
}

.image-box {
}

.image {
  height: 60vh;
  /* margin-right: 10rem; */
}

/* /////////////////////////// */
/* CONTACT */
/* /////////////////////////// */

.contact {
  height: 50vh;
}

.contact-box {
  /* margin: 0 auto; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
